<!DOCTYPE html>
<html>
  <head>
    <title>CongoBasin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
      window.headerlogoURL = "<%= image_url('congobasin_logo.png') %>"
      window.cartURL = "<%= image_url('cart.png') %>"
      window.congoBasinScenaryURL = "<%= image_url('congobasin_scenary.jpg') %>"
      window.noImageURL = "<%= image_url('no_image.jpg') %>"
      window.magGlassURL = "<%= image_url('magnifying_glass_search_bar.png') %>" 
      window.githubImageURL = "<%= image_url('github.png') %>" 
      window.angellistImageURL = "<%= image_url('angellist.png') %>"
      window.linkedinImageURL = "<%= image_url('linkedin.png') %>"
      window.resumeImageURL = "<%= image_url('resume.png') %>"
      window.oneStarRatingURL = "<%= image_url('review_one_star.jpg') %>"
      window.twoStarRatingURL = "<%= image_url('review_two_star.jpg') %>"
      window.threeStarRatingURL = "<%= image_url('review_three_star.jpg') %>"
      window.fourStarRatingURL = "<%= image_url('review_four_star.jpg') %>"
      window.fiveStarRatingURL = "<%= image_url('review_five_star.jpg') %>"
      window.zeroStarRatingURL = "<%= image_url('review_zero_star.jpg') %>"
      window.product1ImageURL = "<%= image_url('product1.jpg') %>"
      window.product2ImageURL = "<%= image_url('product2.jpg') %>"
      window.product3ImageURL = "<%= image_url('product3.jpg') %>"
      window.product4ImageURL = "<%= image_url('product4.jpg') %>"
      window.product5ImageURL = "<%= image_url('product5.jpg') %>"
      window.product6ImageURL = "<%= image_url('product6.jpg') %>"
      window.product7ImageURL = "<%= image_url('product7.jpg') %>" 
      window.product8ImageURL = "<%= image_url('product8.jpg') %>"  
      window.product9ImageURL = "<%= image_url('product9.jpg') %>"
      window.product10ImageURL = "<%= image_url('product10.jpg') %>"
      window.product11ImageURL = "<%= image_url('product11.jpg') %>"
      window.product12ImageURL = "<%= image_url('product12.jpg') %>"
      window.product13ImageURL = "<%= image_url('product13.jpg') %>"
      window.product14ImageURL = "<%= image_url('product14.jpg') %>"
      window.product15ImageURL = "<%= image_url('product15.jpg') %>"
      window.product16ImageURL = "<%= image_url('product16.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>