<!DOCTYPE html>
<html>
  <head>
    <title>CongoBasin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.headerlogoURL = "<%= image_url('congobasin_logo.png') %>"
      window.cartURL = "<%= image_url('cart.png') %>"
      window.noImageURL = "<%= image_url('no_image.jpg') %>"
      window.magGlassURL = "<%= image_url('magnifying-glass-search-bar') %>"  
      window.product1ImageURL = "<%= image_url('product1') %>"
      window.product2ImageURL = "<%= image_url('product2') %>"
      window.product3ImageURL = "<%= image_url('product3') %>"
      window.product4ImageURL = "<%= image_url('product4') %>"
      window.product5ImageURL = "<%= image_url('product5') %>"
      window.product6ImageURL = "<%= image_url('product6') %>"
      window.product7ImageURL = "<%= image_url('product7') %>" 
      window.product8ImageURL = "<%= image_url('product8') %>"  
      window.product9ImageURL = "<%= image_url('product9') %>"
      window.product10ImageURL = "<%= image_url('product10') %>"
      window.product11ImageURL = "<%= image_url('product11') %>"
      window.product12ImageURL = "<%= image_url('product12') %>"
      window.product13ImageURL = "<%= image_url('product13') %>"
      window.product14ImageURL = "<%= image_url('product14') %>"
      window.product15ImageURL = "<%= image_url('product15') %>"
      window.product16ImageURL = "<%= image_url('product16') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>